.render-detail {
  .detail {
    .image_resized {
      width: 100% !important;
      max-width: 622px;
    }
    .image {
      width: 100% !important;
      display: flex;
      justify-content: center;
      img {
        width: 100% !important;
        max-width: 622px;
      }
    }
  }
  strong {
    display: "flex" !important;
    justify-content: center;
    img {
      width: 100% !important;
      max-width: 622px !important;
    }
  }
}
