.detail__clinic--introduce {
  .ck-rounded-corners .ck.ck-editor__editable:not(.ck-editor__nested-editable),
  .ck.ck-editor__editable.ck-rounded-corners:not(.ck-editor__nested-editable) {
    min-height: 100px !important;
    max-height: 180px !important;
  }
}

.detail__handbook--introduce{
  .ck-rounded-corners .ck.ck-editor__editable:not(.ck-editor__nested-editable),
  .ck.ck-editor__editable.ck-rounded-corners:not(.ck-editor__nested-editable) {
    min-height: 380px !important;
    max-height: 500px !important;
  }
}


.MuiTableCell-head {
  font-size: 14px !important;
  font-weight: 600 !important;
}
.table__clinic--header {
  height: 50px;
}
.table__clinic--logo {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

.table__clinic--pagination {
  p {
    margin: 0 !important;
  }
}

.clinic-profile__detail--text {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}
