.detail-specialty-opacity {
  background-image: linear-gradient(
    rgba(255, 255, 255, 0.8),
    rgba(255, 255, 255, 0.9),
    rgba(255, 255, 255, 1)
  ) !important;
  padding-top: 16px;
}
.detail-handbook--detail {
  h2 {
    font-weight: bold;
    margin-top: 10px;
  }
  a {
    text-decoration: none;
    color: #000;
  }
  .image_resized {
    width: 100% !important;
    max-width: 622px;
  }
  .image {
    width: 100% !important;
    img {
      width: 100% !important;
      max-width: 622px;
    }
  }
  strong {
    display: "flex" !important;
    flex-direction: column;
    justify-content: center;
    img {
      width: 100% !important;
      max-width: 622px !important;
    }
  }
}
