.wrapper {
  max-width: 1300px;
  margin: 80px auto;
  padding: 30px 45px;
  box-shadow: 5px 25px 35px #3535356b;
  .doctor-more-info {
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-bottom: 10px;
    .content-left,
    .content-right {
      width: 50%;
    }
    .content-right {
      textarea {
        width: 100%;
      }
    }
  }
}
