.app {
  height: fit-content !important;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100% !important;
}
.css-dru9rs-MuiFormControl-root {
  width: 100% !important;
}

.MuiTableCell-head {
  font-size: 14px !important;
  font-weight: 600 !important;
}
.table__user--pagination {
  p {
    margin: 0 !important;
  }
}

.account-profile__detail {
  width: 100%;
  display: flex;
  align-items: center;
  gap: 5px;
}

.day-picker {
  box-shadow: 0px 2px 1px -1px rgba(0, 0, 0, 0.2),
    0px 1px 1px 0px rgba(0, 0, 0, 0.14), 0px 1px 3px 0px rgba(0, 0, 0, 0.12);
}
