.app {
  height: fit-content !important;
}
.css-1u3bzj6-MuiFormControl-root-MuiTextField-root {
  width: 100% !important;
}
.css-dru9rs-MuiFormControl-root {
  width: 100% !important;
}

.MuiTableCell-head {
  font-size: 14px !important;
  font-weight: 600 !important;
}
.table__user--pagination {
  p {
    margin: 0 !important;
  }
}
