.css-f3jnds-MuiDataGrid-columnHeaders {
  background-color: #76bbe9 !important;
}
.MuiTablePagination-displayedRows,
.MuiTablePagination-selectLabel {
  margin-bottom: 0;
}
.MuiDataGrid-columnHeaderTitle {
  font-size: 14px;
  font-weight: 600 !important;
}
.fa-trash {
  color: red;
}
.fa-edit {
  color: forestgreen;
}
.MuiTableCell-head {
  font-weight: 600 !important;
}
.MuiTableHead-root .css-1q1u3t4-MuiTableRow-root {
  background-color: #76bbe9 !important;
}
// .modal-content {
//   min-width: 1150px;
// }
