.css-f3jnds-MuiDataGrid-columnHeaders {
  background-color: #76bbe9 !important;
}
.MuiTablePagination-displayedRows,
.MuiTablePagination-selectLabel {
  margin-bottom: 0;
}
.MuiDataGrid-columnHeaderTitle {
  font-size: 14px;
  font-weight: 600 !important;
}
.fa-trash {
  color: red;
}
