.container {
  // text-align: center;
  .titlePage {
    color: #000;
    text-align: left;
    font-size: 24px;
    line-height: 36px;
    font-weight: 600;
    padding-bottom: 10px;
    // border-bottom: 2px solid #ddd;
  }
  .cardDanhMuc {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 40px;
    .itemCardDanhMuc {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      .imgDanhMuc {
        width: 45%;
        border: gray 0.5px solid;
        object-fit: cover;
        cursor: pointer;
        border-radius: 50%;
      }
      .nameDanhMuc {
        font-size: 20px;
        font-weight: bold;
        text-align: center;
      }
    }
  }
}

.packet-container {
  .detail-packet {
    padding: 0;
    display: flex;
    justify-content: center;
    --bs-gutter-x:0;
    .detail-packet-item {
      box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
      padding: 0;
      .title-detail-packet {
        -webkit-line-clamp: 2;
        text-align: left;
        font-size: 20px;
        font-weight: bold;
        color: #686868;
        border-bottom: 2px solid #ddd;
        padding: 15px 5px;
      }
      .price {
        display: flex;
        justify-content: space-between;
        padding: 0 5px;
        .text-price {
          font-size: 18px;
          color: rgb(113, 103, 103);
        }
        span {
          border-bottom: none;
          padding: 0;
        }
      }
    }
  }
}
