.section-specialty {
  width: 100%;
  height: 330px;
  border: 1px solid red;
  .section-container {
    margin: 0 100px;
    display: flex;
    flex-direction: column;
    .section-header {
      height: 60px;
      margin-bottom: 20px;
      padding-top: 20px;
      .title-section {
        font-size: 22px;
        font-weight: bold;
      }
      .btn-section {
        padding: 10px;
        &:hover {
          background-color: rgb(146, 203, 23);
          color: white;
        }
      }
    }
    .section-body {
      border: 1px solid blue;
      .specialty-customize {
        .bg-image {
          width: 278px;
          height: 150px;
          background-image: url("../../../assets/specialty/co-xuong-khop.jpg");
          background-position: center center;
          background-size: cover;
        }
      }
    }
  }
}
