.footer-container {
  background: #efefef;
  .container {
    // height: 250px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  .company-info {
    .lg {
      background: url("../../../assets/logo.png") center no-repeat;
      width: 200px;
      height: 80px;
      background-size: contain;
    }
    .address {
      i {
        padding-right: 10px;
        font-size: 15px;
      }
    }
  }

  .company-headquarters {
    margin-top: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    span {
      display: block;
      margin-bottom: 20px;

      .name {
        font-weight: 600;
        margin: 0;
      }
    }
  }
}

.author {
  background: #64b9e5;
  color: #fff;
  padding: 10px;
  text-align: center;

  p {
    margin: 0;
  }
}

@media screen and (max-width: 576px) {
  .container {
    flex-direction: column;

    .company-info,
    .company-headquarters {
      width: 100%;
    }
  }
}

// header
.home-header-container {
  .menu-mobile {
    display: none;
  }
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 60px;
  background-color: #fff;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;

  .header-logo {
    background: url("../../../assets/logo.png") center no-repeat;
    width: 140px;
    height: 40px;
    background-size: contain;
    margin-bottom: 10px;
  }

  .child-content {
    cursor: pointer;
    .subs-title {
      font-weight: lighter;
      font-size: 10px;
    }
  }
  .lang-vi {
    border-right: 1px solid #ddd;
  }
  .lang-vi,
  .lang-en {
    cursor: pointer;
    padding: 0 5px;
    &:hover {
      color: #45c3d2;
    }
  }
}
.leftbar {
  .child-content {
    cursor: pointer;
    width: 100%;
    padding: 1rem;
    border-bottom: 1px solid #ddd;
  }
  .nav-1,
  .nav-2,
  .nav-3,
  .nav-4,
  .nav-5 {
    &:hover {
      background-color: #b8edf3;
    }
  }
}
//sub header
.sub-header {
  .icon-goback {
    font-size: 24px;
    font-weight: 600;
    color: #fff;
    cursor: pointer;
  }
  .select-container {
    color: #fff;
    font-weight: 600;
    font-size: 16px;

    .support-container {
      border-right: 1px solid #fff;
      padding-right: 5px;
      cursor: pointer;
    }
    .change-lang {
      padding-left: 5px;
    }
    .lang-vi,
    .lang-en {
      cursor: pointer;
      &.active {
        text-decoration: underline;
      }
    }
  }
}

.home-header-banner {
  // background: url("../../../assets/header-background.jpg");
  // background-position: center -75px;
  // background-repeat: no-repeat;
  // background-size: cover;
  // object-fit: cover;
  // display: flex;
  // flex-direction: column;
  // min-height: 70vh;
  // position: relative;

  .content-up {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(255, 255, 255, 0.1)
    );
    // padding: 20px;
    // height: 100%;
    // padding-top: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    .title {
      color: white;
      text-shadow: 1px 1px 1px #333;
      font-size: 32px;
      text-align: center;
    }

    .title1 {
      font-weight: lighter;
      margin-top: 115px;
    }

    .title2 {
      margin-bottom: 20px;
    }

    .input_searchgroup {
      margin: 0 auto;
      width: 500px;
      position: relative;

      // display: flex;
      // align-items: center;
      .fas.fa-search {
        margin: 0;
        position: absolute;
        top: 50%;
        // left: 50%;
        transform: translate(135%, -50%);
        z-index: 2;
      }
    }
  }

  .content-down {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;

    // display: flex;
    // justify-content: center;
    .options {
      width: 100%;
      padding: 0 150px;
      background-image: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 1)
      );

      display: flex;
      justify-content: space-around;
      align-items: flex-end;

      .options-child {
        cursor: pointer;

        // flex: 1;
        .text-child {
          height: 40px;
          margin-top: 5px;
          text-align: center;
          font-weight: bold;
          font-size: 16px;

          &:hover {
            color: #45c3d2;
          }
        }

        .icon-child {
          margin: 0 auto;
          background: #fff;
          background-size: 32px;
          background-position: center;
          background-repeat: no-repeat;
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
    }
  }
}

@media screen and (max-width: 768px) {
  .right-container {
    margin-left: auto;
  }
  .slick-prev,
  .slick-next {
    display: none !important;
  }
  // .header-bar {
  //   flex-direction: column !important;
  //   position: fixed;
  //   top: 60px;
  //   left: 0;
  //   padding: 20px;
  //   background-color: #fff;
  //   gap: 60px;
  // }
}

@media screen and (max-width: 576px) {
  .left-container {
    width: 50% !important;

    .header-logo {
      width: 200px;
      height: 100%;
    }
  }

  .support-text {
    display: none;
  }
}

// section data
.section-data {
  border: 2px solid #efeef5;
  border-left: none;
  border-right: none;
  padding: 20px 0;

  &:nth-child(odd) {
    background-color: #ffff;
  }

  &:nth-child(even) {
    background-color: #f5f5f5;
  }

  .container {
    &__header {
      &--title {
        font-size: 22px;
        font-weight: 600;
      }

      &--btn {
        padding: 5px 8px;
        font-size: 11px;
        display: block;
        background-color: #ebebeb;
        text-transform: uppercase;
        cursor: pointer;

        &:hover {
          background-color: #f7d800;
          color: white;
        }
      }
    }

    &__body {
      .slick-prev:before,
      .slick-next:before {
        opacity: 0.75;
        color: rgba(36, 34, 34, 0.84);
      }
      &--item {
        width: 278px;
        cursor: pointer;
        img {
          width: 100%;
          height: 156px;
          background-position: center center;
          background-size: cover;
        }
        &--title {
          margin-top: 5px;
          font-weight: lighter;
          font-size: 13px;
          text-align: left;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          line-clamp: 2;
          -webkit-box-orient: vertical;
        }

        &:hover .container__body--item--title {
          color: #45c3d2;
        }
      }
    }
  }
}
.section-doctor {
  .container__body {
    .container__body--item {
      border: 1px solid #ddd;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 10px;
      img {
        background-size: contain;
        border-radius: 50%;
        width: 100px;
        height: 100px;
      }
      &--title {
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 1; /* number of lines to show */
        line-clamp: 1;
        -webkit-box-orient: vertical;
      }
    }
  }
}
.section-handbook {
  .container__body--item {
    width: 100%;
    display: flex;
    img {
      width: 278px;
      object-fit: cover;
    }
    .container__body--item--title {
      word-wrap: break-word;
      font-size: 16px;
      font-weight: 600;
      height: 100%;
      width: 50%;
      padding: 0 10px;
    }
  }
}
@media screen and (max-width: 768px) {
  .menu-mobile {
    display: block !important;
  }
  .section-data {
    .container__header--title {
      font-size: 16px;
    }
    .container__header--btn {
      padding: 4px 9px;
    }
    .container__body--item {
      width: 176px !important;
      img {
        width: 176px !important;
        height: 100px !important;
      }
    }
  }
  .section-handbook {
    .container__body--item {
      width: 100% !important;
    }
  }

  .section-doctor {
    .container__body--item {
      img {
        width: 80px !important;
        height: 80px !important;
      }
    }
  }
}
