.modal-content {
  padding: 0 10px;
  .price {
    border: 1px solid #666;
    width: 60px;
    padding: 5px 20px;
    min-width: fit-content;
    i {
      color: #666;
      padding-right: 5px;
    }
    span {
      display: block;
      text-align: center;
    }
  }
  .intro-doctor .left {
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    width: 80px;
    height: 80px;
  }
}
