.slick-prev {
  left: -10px !important;
  z-index: 10;
  &:before {
    font-size: 30px !important;
    color: #404040 !important;
  }
}
.slick-next {
  right: -10px !important;
  z-index: 10;
  &:before {
    font-size: 30px !important;
    color: #404040 !important;
  }
}

.section {
  height: 330px;
  .section-container {
    margin: 0 100px;
    .section-header {
      height: 60px;
      margin-bottom: 30px;
      padding-top: 30px;
      .title-section {
        font-size: 22px;
        font-weight: 600;
        float: left;
      }
      .btn-section {
        float: right;
        padding: 10px 15px;
        display: block;
        cursor: pointer;
        &:hover {
          background-color: #f7d800;
          color: white;
        }
      }
    }
    .section-body {
      text-align: center;
      .section-customize {
        cursor: pointer;
        width: 278px !important;
        &:hover .section-body-title {
          color: #45c3d2;
        }
        .bg-image {
          width: 278px;
          height: 150px;
          background-position: center center;
          background-size: cover;
          background-color: #eee;
        }
        .section-body-title {
          float: left;
          margin-top: 5px;
          font-weight: lighter;
          font-size: 12px;
        }
      }
    }
  }
}
// specialty
.section-specialty {
  background-color: #f5f5f5;
  .bg-image {
    background-image: url("../../assets/specialty/co-xuong-khop.jpg");
  }
}

.section-medical {
  background-color: #ffff;
  .bg-image {
    background-image: url("../../assets/medical-facility/093035-benh-vien-thu-cuc-1.jpg");

  }
}
