.home-header-container {
  position: sticky;
  top: 0;
  height: 60px;
  background-color: #fff;
  z-index: 100;
  box-shadow: rgba(0, 0, 0, 0.05) 0px 0px 0px 1px,
    rgb(209, 213, 219) 0px 0px 0px 1px inset;
  .header-logo {
    background: url("../../assets/logo.svg") center no-repeat;
    width: 160px;
    height: 40px;
    margin-left: 10px;
  }
  .subs-title {
    cursor: pointer;
    font-weight: lighter;
    font-size: 10px;
  }
  .icon-support {
    font-size: 25px;
    color: #45c3d2;
    padding: 0 5px;
  }
  .lang-vi,
  .lang-en {
    cursor: pointer;
    &.active {
      color: #45c3d2;
    }
  }
}
.home-header-banner {
  background: url("../../assets/header-background.jpg");
  background-position: center -75px;
  background-repeat: no-repeat;
  background-size: cover;
  object-fit: cover;
  display: flex;
  flex-direction: column;
  min-height: 70vh;
  position: relative;
  .content-up {
    background-image: linear-gradient(
      rgba(0, 0, 0, 0.25),
      rgba(255, 255, 255, 0.1)
    );
    // padding: 20px;
    // height: 100%;
    // padding-top: 80px;
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    top: 0;

    .title {
      color: white;
      text-shadow: 1px 1px 1px #333;
      font-size: 32px;
      text-align: center;
    }
    .title1 {
      font-weight: lighter;
      margin-top: 115px;
    }
    .title2 {
      margin-bottom: 20px;
    }
    .input_searchgroup {
      margin: 0 auto;
      width: 500px;
      position: relative;
      // display: flex;
      // align-items: center;
      .fas.fa-search {
        margin: 0;
        position: absolute;
        top: 50%;
        // left: 50%;
        transform: translate(135%, -50%);
        z-index: 2;
      }
      .input_search {
        padding: 5px 25px 5px 35px;
        border-radius: 100px;
        background-color: #f7d800;
        margin: 0 auto;
        width: 500px;
        .css-1hb7zxy-IndicatorsContainer {
          display: none;
        }
        .css-yk16xz-control {
          background-color: transparent;
          border: #f7d800 2px solid;
        }
        .css-1pahdxg-control {
          background-color: transparent;
          border-color: #f7d800 !important;
          border: #f7d800 2px solid !important;
          border-radius: 100px;
          box-shadow: 0 0 0 0 #f7d800;
        }
        .css-26l3qy-menu {
          position: absolute;
          left: 0px;
        }
        .css-1wa3eu0-placeholder {
          color: rgb(77, 75, 75);
          font-size: 15px;
          cursor: text;
        }
      }
    }

    // .search {
    // margin-top: 60px;
    // text-align: center;
    // padding: 3px 20px;
    // border-radius: 30px;
    // background-color: #f7d800;
    // width: fit-content;
    // margin: 0 auto;
    //   input {
    //     background: transparent;
    //     color: black;
    //     border: none;
    //     line-height: 45px;
    //     outline: none;
    //     width: 350px;
    //   }
    //   i {
    //     margin-right: 15px;
    //   }
    // }
  }
  .content-down {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    // display: flex;
    // justify-content: center;
    .options {
      width: 100%;
      padding: 0 150px;
      background-image: linear-gradient(
        rgba(255, 255, 255, 0.1),
        rgba(255, 255, 255, 0.9),
        rgba(255, 255, 255, 1)
      );

      display: flex;
      justify-content: space-around;
      align-items: flex-end;
      .options-child {
        cursor: pointer;
        // flex: 1;
        .text-child {
          height: 40px;
          margin-top: 5px;
          text-align: center;
          font-weight: bold;
          font-size: 16px;
          &:hover {
            color: #45c3d2;
          }
        }
        .icon-child {
          margin: 0 auto;
          background: #fff;
          background-size: 32px;
          background-position: center;
          background-repeat: no-repeat;
          width: 50px;
          height: 50px;
          border-radius: 50%;
        }
      }
    }
  }
}
@media screen and (max-width: 768px) {
  .right-container {
    margin-left: auto;
  }
}

@media screen and (max-width: 576px) {
  .left-container {
    width: 50% !important;
    .header-logo {
      width: 200px;
      height: 100%;
    }
  }
  .support-text {
    display: none;
  }
}

.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide {
  text-align: center;
  font-size: 18px;
  background: #fff;

  /* Center slide text vertically */
  display: flex;
  justify-content: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
