.section {
  height: 330px;
}

.section-specialty {
  background-color: #ffff;
}

.section-medical {
  background-color: #f5f5f5;
}
.section-doctor {
  background-color: #ffff;
  .section-customize {
    border: 1px solid #eeeeee;
    padding: 10px 0;
    .outer-bg {
      padding: 10px 0;
      .bg-image {
        border-radius: 50%;
        width: 120px !important;
        height: 120px !important;
        margin: 0 auto !important;
        margin-bottom: 10px;
      }
    }
    .section-body-title {
      float: none !important;
    }
    .section-body-sub-title {
      font-size: 12px;
      font-weight: lighter;
      color: #555;
    }
  }
}

.section-handbook {
  background-color: #f5f5f5;
  .container .section-body .section-customize {
    width: 100% !important;
    padding: 0 50px;
    display: flex;
    align-items: center;
  }
  .body-handbook {
    .section-customize {
      display: flex !important;
      .bg-image {
        width: 500px !important;
        height: 170px !important;
        background-position: center center;
        background-size: cover;
        object-fit: cover;
      }
      .section-body-title {
        text-align: initial;
        height: 170px !important;
        margin-left: 15px;
        font-weight: bold !important;
        font-size: 16px !important;
        color: #5d5d5d;
      }
    }
  }
}

.section-about {
  height: fit-content !important;
  .container {
    padding-bottom: 45px;
    .about-content {
      .content-left,
      .content-right {
        display: flex;
        justify-content: center;
        margin: 0;
        width: 50%;
      }
    }
  }
}

.grid {
  width: 1200px;
  max-width: 100%;
  margin: 0 auto;
}

.grid__full-width {
  width: 100%;
}

.grid__row {
  display: flex;
  flex-wrap: wrap;
  margin-left: -5px;
  margin-right: -5px;
}

.home-header-container__slider {
  width: 100%;
  height: 700px;
  // overflow: hidden;
  .slick-prev,
  .slick-next {
    display: none !important;
  }
  img {
    width: 100%;
    height: 700px;
    object-fit: cover;
  }
}

@media screen and (max-width: 768px) {
  .home-header-container__slider {
    height: 300px !important;
    img {
      width: 100% !important;
      height: 300px !important;
      object-fit: cover;
    }
  }
}
